<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
		<property name="driverClass"
			value="oracle.jdbc.driver.OracleDriver" />
		<property name="url"
			value="jdbc:oracle:thin:@nsh9354.asuscomm.com:1521:xe" />
		<property name="username" value="final" />
		<property name="password" value="1234" />
	</bean>

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	<bean id="sqlSessionFactoryBean"
		class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="configLocation"
			value="classpath:/mybatis-config.xml"></property>
	</bean>
	<bean id="sqlSessionTemplate"
		class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg name="sqlSessionFactory"
			ref="sqlSessionFactoryBean"></constructor-arg>
	</bean>

	<!-- DAO -->
	<bean id="goodsDao" class="greencamp.goods.model.GoodsDAOImple">
		<constructor-arg>
			<ref bean="sqlSessionTemplate" />
		</constructor-arg>
	</bean>
	<bean id="commentDao"
		class="greencamp.comment.model.CommentDAOImple">
		<constructor-arg>
			<ref bean="sqlSessionTemplate" />
		</constructor-arg>
	</bean>
	<bean id="reportDao" class="greencamp.report.model.ReportDAOImple">
		<constructor-arg>
			<ref bean="sqlSessionTemplate" />
		</constructor-arg>
	</bean>
	<bean id="campinfoDao"
		class="greencamp.campinfo.model.CampInfoDAOImple">
		<constructor-arg>
			<ref bean="sqlSessionTemplate" />
		</constructor-arg>
	</bean>
	<bean id="bbsDao" class="greencamp.bbs.model.BbsDAOImple">
		<constructor-arg>
			<ref bean="sqlSessionTemplate" />
		</constructor-arg>
	</bean>
</beans>
