<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<mappers>
		<mapper resource="sql/campSQL.xml"/>
		<mapper resource="sql/memberSQL.xml"/>
		<mapper resource="sql/goodsSQL.xml"/>
		<mapper resource="sql/commentSQL.xml"/>
		<mapper resource="sql/reportSQL.xml"/>
		<mapper resource="sql/campinfoSQL.xml"/>
		<mapper resource="sql/bbsSQL.xml"/>
		<mapper resource="sql/reviewSQL.xml"></mapper>
		<mapper resource="sql/sellingSQL.xml"></mapper>
		<mapper resource="sql/eventSQL.xml"></mapper>
		<mapper resource="sql/messageSQL.xml"></mapper>
		<mapper resource="sql/likeSQL.xml"></mapper>
		<mapper resource="sql/resveSQL.xml"></mapper>
	</mappers>
</configuration>